* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

header {
    display: flex;
    position: sticky;
    flex-direction: column;
}

.header-first-section {
    display: flex;
    background-color: #003aab;
    color: white;
    justify-content: space-between;
    flex: 1;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.header-second-section{
    display: flex;
    padding-top: 0.5rem;
    flex: 1;
    justify-content: space-between;
}


