html{
    height: 100%;
}
body{
    min-height: 100%;
}

.breadcrumbs {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    font-family: "Special Gothic", sans-serif;
    font-size: 1rem;
    color: black;
}

.breadcrumbs a {
    color: black;
    opacity: 50%;
    padding: 0.4rem;
    text-decoration: none;
}

.breadcrumbs p {
    opacity: 50%;
}

.breadcrumbs span {
    padding: 0.4rem;
}

.main-outer-body {
    margin: 0;
    margin-top: 129px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.material-symbols {
    margin-bottom: 5px;
    margin-right: 7px;
}

.black-separating-border{
    border-top: 2px solid #000000;
    opacity: 20%;
}

.body-grid-container,
.others-liked-grid-container,
.black-separating-border {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    max-width: 1200px;
}

.others-liked-button-left,
.others-liked-button-right {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003aab;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #ffffff;
    z-index: 1000;
}

.others-liked-button-left .material-symbols, .others-liked-button-right .material-symbols {
    margin: 0;      
    padding: 0;     
}

.others-liked-button-left {
    left: -10px;
}

.others-liked-button-right {
    right: -10px;
}

.others-liked-outer {
    margin-top: 56px;
    margin-bottom: 32px;
    padding-top: 100px;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    position: relative;
    overflow: visible;
}

.others-liked-text {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.others-liked-grid-container {
    display: grid;
    margin: 26px auto 0px auto;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(276.28px, auto);
    position: relative;
    overflow: visible;
}

.body-grid-container {
    flex-direction: column;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(742.5px, auto) minmax(653px, auto);
    position: relative;
    justify-items: center;
}

.body-grid-item-1{
    display: flex;
    flex-direction: column;
    
    /* background-color: rgb(201, 255, 148); */
}

.body-grid-item-2{
    /* background-color: rgb(240, 178, 255); */
    width: 100%;
    max-width: 100%;
    justify-self: start;
}

.others-liked-grid-item {
    width: 100%;
    height: 100%;
}

.others-liked-grid-item picture {
    display: block;
    width: 100%;
    height: auto;
}

.others-liked-grid-item img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.others-liked-product-info {
    display: block;
    padding-top: 8px;
}

.others-liked-product-info p {
    color: #000000;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

/* .product-name {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
} */

#others-liked-measurements{
    color:#6a695e;
}

    
.online-only-infobox {
    position: absolute;
    top: 1.25rem;
    left: 0.94rem;
    z-index: 9999;
}

.online-only {
    position: sticky;
    padding: 0.2rem 0.5rem 0.2rem 0.7rem;
    height: 1rem;
    width: 100%;
    border-radius: 0 0.7rem 0.7rem 0.7rem;
    background: rgb(255, 255, 255);
    color: black;
    font-size: large;
    font-family: "Special Gothic", sans-serif;
}

.zoom-icon-container {
    display: none;
}

.zoom-icon {
    display: none;
}

#others-liked-measurements {
    color: #505050;
}

.others-liked-price {
    font-weight: bold;
}

.others-liked-img-section {
    position: relative;
    width: 100%;
}

.others-liked-img-section picture {
    display: block;
    width: 100%;
}

.others-liked-img-section img {
    width: 100%;
    display: block;
}

.others-liked-img-section .material-symbols {
    position: absolute;
    top: 10px;
    right: 4px;
    z-index: 2;
    background-color: #f1edea;
    padding: 5px;
}

.product-info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.others-liked-price {
    margin: 0;
}

.body-grid-product-information{
    padding-top: 60px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.body-grid-product{
    justify-self: center;
}

.product-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65.188px;
    border-bottom: 1px solid #000000;
    padding-left: 0;
    padding-right: 0;
}

.body-product-topmost-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
}

.body-product-topmost-info p {
    font-size: 1.125rem;
    line-height: 0.2rem;
}

.body-product-topmost-info h2 {
    font-weight: 600;
    font-size: 1.9rem;
    padding-bottom: 20px;
}

.local-stock {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.product-name-and-favourite-heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#measurements{
    color:#6a695e;
    font-size: 1rem;
}




.add-to-cart-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
}

.quantity-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    border: 1px solid #003aab;
    border-radius: 0.3rem;
    width: 7rem;
    font-size: 1.5rem;
}

.quantity-selector button {
    background: none;
    border: none;
    font-size: 1.1rem;
    padding: 0 0.5rem;
    cursor: pointer;
    color: #003aab;
    opacity: 80%;
}

.quantity-selector .number {
    font-weight: bold;
    margin: 0 0.5rem;
}


.add-to-cart-btn {
    background: #003aab;
    color: white;
    border: none;
    width: 16.7rem;
    height: 3.5rem;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-size: 1.2rem;
    font-family: "Special Gothic", sans-serif;
    font-weight: bold;
    align-items: stretch;
}

.add-to-cart-btn:hover {
    cursor: pointer;
    background: #0c3f78;
}

.product-detail .material-symbols {
    margin: 0;
    padding: 0;
}

.delivery-info-list {
    list-style-type: none;
    padding-left: 0px;
    line-height: 30px;
}

ul.delivery-info-list li {
    padding-left: 30px;
    position: relative;
}

ul.delivery-info-list li::before {
    font-family: 'Material Symbols';
    content: "check";
    position: absolute;
    left: 0;
    color: #008080;
    font-size: 16px;
    font-weight: bold;
}

.in-stock-online-list {
    list-style-type: none;
    padding-left: 0px;
    line-height: 30px;
}

ul.in-stock-online-list li {
    padding-left: 30px;
    position: relative;
}

ul.in-stock-online-list li::before {
    content: "●";
    position: absolute;
    left: 0;
    color: #008080;
    font-size: 25px;
}

#product-details-dropdow-arrow-down {
    font-size: 1.7rem;
}

.body-grid-image-large {
    position: relative;
    width: 100%;
    max-width: 635px;
    margin: 0 auto;
}

.body-grid-image-large picture {
    display: block;
    width: 100%;
    text-align: center;
}

.body-grid-image-large img {
    width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.inner-img-1{
    grid-area: largeimg;
    /* background-color: aquamarine; */
    min-height: 235px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.inner-img-1 img {
    object-fit: contain;width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top center;
    max-height: 100%;
}

.inner-img-1 picture {
    display: block;
    width: 100%;
    height: 100%;
}

.inner-img-2{
    grid-area: img2;
    /* background-color: rgb(236, 255, 127); */
    border: 2px solid #cac9c3;
}

.inner-img-3{
    grid-area: img3;
    /* background-color: rgb(131, 255, 127); */
}

.inner-img-4{
    grid-area: img4;
    /* background-color: rgb(255, 127, 187); */
}

.inner-img-2, .inner-img-3, .inner-img-4 {
    height: 55px; 
    width: 116px; 
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: height 0.2s ease;
}

.inner-img-2 img, .inner-img-3 img, .inner-img-4 img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body-inner-img-grid{
    display: grid;
    gap: 20px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    grid-template-columns: 116px 1fr;
    grid-auto-rows: min-content;
    grid-template-areas: 
        "top-btn largeimg"
        "img2 largeimg"
        "img3 largeimg"
        "img4 largeimg"
        "bottom-btn largeimg";
    align-items: start;
    position: relative;
    padding-top: 30px;
}

.inner-grid-img {
    position: relative;
    width: 100%;
    max-width: 499px;
}

.inner-grid-img picture {
    display: block;
    width: 100%;
}

.inner-grid-img img {
    width: 100%;
    display: block;
}

.image-carousel-button-up, .image-carousel-button-down {
    position: relative;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003aab;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    color: #ffffff;
    z-index: 1000;
    left: auto;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.image-carousel-button-up:hover,
.image-carousel-button-down:hover {
    background-color: #002266;
}

.image-carousel-button-up {
    top: auto;
    grid-area: top-btn;
    margin-bottom: -45px;
    margin-top: 22px;
}

.image-carousel-button-down {
    bottom: auto;
    grid-area: bottom-btn;
}

.image-carousel-button-up .material-symbols,
.image-carousel-button-down .material-symbols {
    margin: 0;      
    padding: 0;     
}

.product-info-box {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background: teal;
    color: white;
    font-family: "Special Gothic", sans-serif;
    font-size: 0.9rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.customer-support-container {
    position: fixed;
    bottom: 4rem;
    left: 0.31rem;
    z-index: 1000;
}

.customer-support-icon {
    padding: 1rem 1rem;
    display: inline-flex;
    background: #fde7dd;
    color: #444343;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.local-stock:hover{
    color: #fc6454;
}


/* Större eller lika med 768 px */
@media (width >=48rem) and (width < 50rem) {
    .others-liked-grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .liked-item-3 {
        grid-column: 3;
        grid-row: 1;
    }


    .liked-item-4 {
        display: none;
    }
}

/* Större eller lika med 800 px */
@media (width >=50rem) {
    .others-liked-grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .liked-item-3 {
        grid-column: 3;
        grid-row: 1;
    }

    .liked-item-4 {
        display: none;
    }

    .body-grid-container{
        grid-template-columns: minmax(auto, 635px) 394px;
        grid-template-rows: 664px;        
        max-height: 664px;
        width: calc(635px + 394px + 20px);
        max-width: min(95%, 1049px); 
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .body-grid-image-large{
        display: none;
    }

    .body-grid-item-1 {
        height: 100%;
        max-height: 664px;
        width: 100%;
        max-width: 635px;
        overflow: hidden;
        justify-self: end;
    }
    .body-grid-item-2 {
        width: 100%;
        max-width: 394px;
        justify-self: start;
    }

    .body-grid-product {
        width: 100%;
        max-width: 100%;
    }

    .inner-img-2, .inner-img-3, .inner-img-4 {
        height: max(55px, calc(55px + (100vw - 800px) * 0.3));
        max-height: 155px;
    }

    .zoom-icon-container {
        display: flex;
        position: absolute;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        background: rgba(255, 255, 255, 0.349);
        cursor: pointer;
        bottom: 2rem;
        right: 1rem;
        z-index: 9999;
    }

    .zoom-icon {
        display: flex;
        padding-left: 1rem;
        padding-top: 0.4rem;
        justify-self: center;
        align-items: center;
        color: #003aab;
    }

    .body-product-topmost-info p {
        font-size: 2rem;
    }
    
    
}

@media (width < 50rem) {
    .body-inner-img-grid {
        display: none;
    }

    .add-to-cart-section{
        display: none;
    }

    .body-grid-product-information{
        padding-top: 0;
    }
}

@media (width >= 56.13rem){
    .zoom-icon-container {
        bottom: 2rem;
    }
}
