/*Större eller lika med 1168px*/
@media (width >= 73rem) {

    .grid-container {
        max-width: 1264px;
        max-height: 653px;
    }

    .grid-container {
        grid-template-columns: 443px minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
    }

    .grid-item h3{
        font-size: 1.1rem;
    }

    .item-1{
        margin-top: 10px;
    }

    .item-4{
        grid-column: 4;
        grid-row: 1;
        font-size: 0.9rem;
    }
    
    .item-5 {
        grid-column: 5;
        grid-row: 1;
    }

    .grid-footer-content-narrow{
        display: none;
    }

    .grid-footer-content-wide{
        display: block;
        font-size: 1.125rem;
    }
}