/* footer {
    overflow: visible;
} */

.outer-section{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;        
    color: #003aab;
    font-size: medium;
    position: relative;
    background: #fde7dd;
    width: 100%;
    height: 40.587rem;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 50px;
    overflow: visible;
}

.inner-div{
    height: auto;
    padding: 0 12px 30px 12px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-div{
    width: 100%;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
}

.links-content{
    height: 265.750px;
    width: 576px;
    margin-bottom: 30px;
    text-align: left;
}

.footer-option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: -1px;
    height: 65.188px;
    border-top: 1px solid #ed6c45;
    border-bottom: 1px solid #ed6c45;
}
    
.footer-option p {
    flex: 1;
    font-weight: 700;
    font-size: 1.125rem;
    /* width: 536px; */
    margin: 0;
}

.footer-logo {
    width: 576px;
    height: 42.078px;
    margin-bottom: 20px;
}

.footer-logo-img {
    width: 225px;
    height: auto;
}

.footer-social {
    height: 42.078px;
    margin-top: 20px;
}

.footer-content,
.footer-option,
.footer-logo{
    width: 100%;
    max-width: 576px;
    /* box-sizing: border-box; */
}

.footer-content p {
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.4;
}

.social-media-icons {
    width: 225px;
    height: auto;
}

.grid-footer-content-narrow p,
.grid-item p {
    font-size: 1.125rem; 
    line-height: 1.3;
}

.links-content, 
.text-content{
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px; 
}

.footer-logo img,
.social-media-icons {
    max-width: 100%;
    height: auto;
}

.grow{
    flex: 1;
}

#mat-icon-arrow-down {
    display: flex;
    font-size: 2.5rem;
}

.text-up-up-up{
    background-color: transparent;
    z-index: 10;
    justify-content: center;
}

.button-up-up-up {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fde7dd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #003aab;
    cursor: pointer;
    z-index: 9998;
}

.grid-container{
    display: none;
}

.share-your-style{
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 50px;
    width: 100%;
}

.share-your-style-lagerhaus{
    color: #003aab;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.share-your-style-text{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.mobile-add-to-cart-section{
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    bottom: 0;
    left: 0;
    background: white;
    color: black;
    padding: 0.3rem;
    z-index: 9999;
}

.mobile-quantity-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
    background: white;
    border: 1px solid #003aab;
    border-radius: 0.3rem;
    width: 5.5rem;
    font-size: 1.3rem;
}

.mobile-quantity-selector button {
    background: none;
    border: none;
    font-size: 1.1rem;
    padding: 0 0.3rem;
    cursor: pointer;
    color: #003aab;
    opacity: 80%;
}

.mobile-quantity-selector .mobile-number {
    margin: 0 0.5rem;
    font-family: "Special Gothic", sans-serif;
}

.mobile-add-to-cart-btn {
    background: #003aab;
    color: white;
    border: none;
    width: 15.5rem;
    height: 3.1rem;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-size: 1.2rem;
    font-family: "Special Gothic", sans-serif;
    font-weight: bold;
    align-items: stretch;
}

.mobile-add-to-cart-btn:hover {
    cursor: pointer;
    background: #0c3f78;
}

.grid-footer-content-wide{
    display: none;
}

/* Större eller lika med 630px */
@media (width >= 39.375rem) {
    
    .outer-section{
        height: 740.516px;
    } 

    .grid-container{
        display: none;
    }

    .footer-content p{
        font-size: 1.125rem;
    }
    
}

/* Större eller lika med 768px*/
 @media (width >= 48rem)  {

    .outer-section {
        height: 88.981rem; 
    }
    
    .links-content{
        display: none;
    }

    .grid-footer-content-narrow{
        width: 280px;
        height: 403px;
        font-size: 1.125rem;
    }
                
    .grid-container {
        display: grid;
        padding-bottom: 2rem;
        padding-top: 1rem;
        grid-template-rows: 622.63px 306.31px;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .item-2 p,
    .item-3 p,
    .item-4 p,
    .item-5 p{
        line-height: 0.5rem;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
    }
            
    .item-1 {
        display: none;
    }
    
    .item-2 {
        grid-column: 1;
        grid-row: 1;
    }
    
    .item-3 {
        grid-column: 2;
        grid-row: 1;
    }
    
    .item-4 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .item-5 {
        grid-column: 2;
        grid-row: 2;
    }
}

/* Större eller lika med 800 px */
@media (width >= 50rem) {
    
    .outer-section {
        height: 100%;
        width: 100%;
        padding: 90px 0 30px 0;
    }

    .inner-div{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .links-content, .text-content{
        display: none;
    }

    .grid-container {
        grid-template-columns: 380px 1fr 1fr; 
        width: 100%;
        gap: 10px;
        margin: 0 auto;
    }

    .grid-item {
        text-align: left;
        width: 100%;
    }

    .grid-footer-content-narrow{
        line-height: 1.2rem;
    }

    .item-1{
        grid-column: 1;
        grid-row: 1;

        display: block;
        text-align: left;
        padding-left: 15px;
        padding-right: 80px;
        margin-top: 10px;
    }

    .item-2 {
        grid-column: 2;
        grid-row: 1;
    }
    
    .item-3 {
        grid-column: 3;
        grid-row: 1;
    }

    .item-4 {
        grid-column: 2;
        grid-row: 2;
    }
    
    .item-5 {
        grid-column: 3;
        grid-row: 2;
    }

    .social-media-icons {
        width: 260px;
        height: auto; 
    }

    .mobile-add-to-cart-section{
        display: none;
    }
} 

/* Större eller lika med 898 px */
@media (width >= 56.125rem) {
    
    .grid-container {
        grid-template-columns: 380px minmax(150px, 1fr) minmax(150px, 1fr) minmax(168px, 1fr);
    }

    .item-4{
        grid-column: 4;
        grid-row: 1;
    }
    
    .item-5 {
        grid-column: 2;
        grid-row: 2;
    }
} 

